-- CreateTable
CREATE TABLE `actions` (
    `id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(60) NOT NULL,
    `points` INTEGER UNSIGNED NOT NULL,

    UNIQUE INDEX `name`(`name`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `departments` (
    `id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(50) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `departments_logs` (
    `id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `department_id` INTEGER UNSIGNED NULL,
    `log_id` INTEGER UNSIGNED NULL,
    `mf` INTEGER NOT NULL DEFAULT 1,
    `attendants_number` INTEGER UNSIGNED NULL,

    INDEX `log_id`(`log_id`),
    UNIQUE INDEX `unique_department_log`(`department_id`, `log_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `logs` (
    `id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `action_id` INTEGER UNSIGNED NULL,
    `start_date` DATE NOT NULL,
    `end_date` DATE NOT NULL,
    `event_name` VARCHAR(100) NOT NULL,

    INDEX `action_id`(`action_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `members` (
    `id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(50) NOT NULL,
    `email` VARCHAR(100) NULL,
    `phone_number` VARCHAR(20) NULL,
    `uni_id` VARCHAR(50) NOT NULL,

    UNIQUE INDEX `email`(`email`),
    UNIQUE INDEX `phone_number`(`phone_number`),
    UNIQUE INDEX `uni_id`(`uni_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `members_logs` (
    `id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `member_id` INTEGER UNSIGNED NULL,
    `log_id` INTEGER UNSIGNED NULL,

    INDEX `log_id`(`log_id`),
    UNIQUE INDEX `unique_member_log`(`member_id`, `log_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `modifications` (
    `id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `log_id` INTEGER UNSIGNED NULL,
    `type` ENUM('bonus', 'discount') NOT NULL,
    `value` INTEGER UNSIGNED NOT NULL,

    INDEX `log_id`(`log_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `departments_logs` ADD CONSTRAINT `departments_logs_ibfk_1` FOREIGN KEY (`department_id`) REFERENCES `departments`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `departments_logs` ADD CONSTRAINT `departments_logs_ibfk_2` FOREIGN KEY (`log_id`) REFERENCES `logs`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `logs` ADD CONSTRAINT `logs_ibfk_1` FOREIGN KEY (`action_id`) REFERENCES `actions`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `members_logs` ADD CONSTRAINT `members_logs_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `members_logs` ADD CONSTRAINT `members_logs_ibfk_2` FOREIGN KEY (`log_id`) REFERENCES `logs`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `modifications` ADD CONSTRAINT `modifications_ibfk_1` FOREIGN KEY (`log_id`) REFERENCES `logs`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

